.title{
    text-align: center;
    color: #0c329d !important;
    /* font-size: 7px; */
    /* font-weight: 600; */
    text-transform: uppercase;
    margin: 70px 0 30px;
}
.title > h2{
    font-size: 32px;
    color: #0c329d !important;
    margin-top: 5px;
    text-transform: none;
}
.title > p {
    font-size: 1.2rem; /* Subtitle font size */
    color: #6a11cb !important; /* Purple color for the subtitle with !important */
    
  }